@import 'globals';

.projects-section {
  background-color: #f4f4f4;
}

.project-box {
  padding: 1%;
  cursor: pointer;
}

.project-box p {
  margin-top: 20px;
  font-size: 90%;
  line-height: 145%;
}

.location-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  @include md-box-shadow(3);
}

.location-photo img {
  display: block;
  float: left;
  width: 25%;
  opacity: 1;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.location-photo img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
